# Root environment variables
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup
DATABASE_URL=
GROQ_API_KEY=
GROQ_MODEL=
OPENAI_EMBEDDING_API_KEY=
OPENAI_API_KEY=
VECTOR_BACKEND=
INGEST_ASYNC=
PINECONE_API_KEY=
PINECONE_INDEX=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
